<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js"></script>
  <title><%= title %></title>
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">Movies Inventory</a>
    </div>
    <%- include('partials/navbar') %>
  </header>

  <main>
    <h1><%= movieName %></h1>
    <h2><%= title %></h2>

    <%- include('partials/errors') %>
    
    <div class="form-wrapper">
      <form class="form-container" action="/genres/<%= movieName %>/add-genre" method="post">
        <input type="hidden" name="movieName" value="<%= movieName %>">
        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre">
        <button type="submit">Add genre</button>
      </form>
    </div>
    
  </main>
  
</body>
</html>