<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js"></script>
  <title><%= title %></title>
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">Movies Inventory</a>
    </div>
    <%- include('partials/navbar') %>
  </header>

  <main>
    <h1><%= title %></h1>
  
    <ul class="genres-item-list">
      <% genres.forEach(genre => { %>
        <li><a href="/genres/<%= genre.category %>"><%= genre.category %></a></li>
      <% }); %>
    </ul>
  </main>
  
</body>
</html>