<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  
  <div style="height: 400px;">
    <img src="<%= movie.poster %>" alt="" style="height: 100%;">
  </div>

  <ul>
    <li>
      Rating: <%= movie.rating %> / 10
    </li>
    <li>
      Release Date: <%= movie.releaseDate %>
    </li>
  </ul>

  <ul>
    <% if (movie.genres.length === 0) { %>
      <li>No genres set</li>
    <% } else { %>
      <% movie.genres.forEach(genre => { %>
        <li><a href="/genres/<%= genre %>"><%= genre %></a></li>
      <% }); %>
    <% } %>
  </ul>

  <p>Director:</p>
  <% if (!movie.director) { %>
    <p>No director set</p>
  <% } else { %>
    <a href="/directors/<%= movie.director.first_name %> <%= movie.director.last_name %>"><%= movie.director.first_name %> <%= movie.director.last_name %></a>
  <% } %>
  

  <p><a href="/movies/<%= movie.title %>/edit">Edit movie</a></p>

</body>
</html>