<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  
  <div style="height: 400px;">
    <img src="<%= movie.poster %>" alt="" style="height: 100%;">
  </div>

  <ul>
    <li>
      Rating: <%= movie.rating %> / 10
    </li>
    <li>
      Release Date: <%= movie.releaseDate %>
    </li>
  </ul>

  <ul>
    <% movie.genres.forEach(genre => { %>
      <li><a href="/genres/<%= genre %>"><%= genre %></a></li>
    <% }); %>
  </ul>

</body>
</html>